<div class="">
    <h1>Đăng khóa học</h1>

    <form method="POST" action="/login">
        <div class="form-group">
            <label for="name">Username</label>
            <input type="text" class="form-control" id="username" name="username">
        </div>
        <div class="form-group">
            <label for="description">password</label>
            <input type="text" class="form-control" id="password" name="password">
        </div>
      
        
        <button type="submit" class="btn btn-primary">Đăng nhập</button>
    </form>
</div>