<footer class="section footer noover">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-4">
                        <div class="widget clearfix">
                            <h3 class="widget-title">Subscribe Our Newsletter</h3>
                            <div class="newsletter-widget">
                                <p>You can opt out of our newsletters at any time.<br> See our <a href="#">privacy policy</a>.</p>
                                <form class="form-inline" role="search">
                                    <div class="form-1">
                                        <input type="text" class="form-control" placeholder="Enter email here..">
                                        <button type="submit" class="btn btn-primary"><i class="fa fa-paper-plane-o"></i></button>
                                    </div>
                                </form>
                                <img src="images/payments.png" alt="" class="img-responsive">
                            </div><!-- end newsletter -->
                        </div><!-- end widget -->
                    </div><!-- end col -->

                    <div class="col-lg-3 col-md-3">
                        <div class="widget clearfix">
                            <h3 class="widget-title">Học Lập Trình Để Đi Làm</h3>
                            <div class="text">   
                                <ul>
                                    <li><a >Điện thoại: 0967954410</a></li>
                                    <li><a >Email: ntung9174@gmail.com</a></li>
                                    <li><a >Địa chỉ: Trường Đại Học Điện Lực</a></li>
                                   
                                </ul>
                            </div>
                        </div><!-- end widget -->
                    </div><!-- end col -->

                    <div class="col-lg-3 col-md-3">
                        <div class="widget clearfix">
                            <h3 class="widget-title">CÔNG CỤ</h3>
                           <div class="list-widget">   
                                <ul>
                                    <li><a href="https://cv.fullstack.edu.vn/">Tạo CV xin việc</a></li>
                                    <li><a href="https://fullstack.edu.vn/shorten-urls?page=1">Rút gọn liên kết</a></li>
                                    <li><a href="https://clippy.fullstack.edu.vn/">Clip-path maker</a></li>
                                    <li><a href="https://snippet-generator.fullstack.edu.vn/">Snippet generator</a></li>                           
                                </ul>
                            </div>
                        </div><!-- end widget -->
                    </div><!-- end col -->

                    <div class="col-lg-2 col-md-2">
                        <div class="widget clearfix">
                            <h3 class="widget-title">Về F8</h3>
                           <div class="list-widget">   
                                <ul>
                                    <li><a href="https://fullstack.edu.vn/about-us">Giới thiệu</a></li>
                                    <li><a href="https://fullstack.edu.vn/contact-us">Liên hệ</a></li>
                                    <li><a href="https://fullstack.edu.vn/terms">Điều khoản</a></li>
                                    <li><a href="https://fullstack.edu.vn/privacy">Bảo mật</a></li>
                                    <li><a href="https://fullstack.edu.vn/careers">Cơ hội việc làm</a></li>
                                </ul>
                            </div>
                        </div><!-- end list-widget -->
                        </div><!-- end widget -->
                    </div><!-- end col -->
                </div><!-- end row -->
            </div><!-- end container -->
        </footer><!-- end footer -->

        <div class="copyrights">
            <div class="container">
                <div class="clearfix">
                    <div class="pull-left">
                        <div class="cop-logo">
                            <a href="#"><img src="images/logo.png" alt=""></a>
                        </div>
                    </div>

                    <!--<div class="pull-right">
                        <div class="footer-links">
                            <ul class="list-inline">
                                <li>Design : <a href="https://html.design">HTML.Design</a></li>
                            </ul>
                        </div>
                    </div> -->
                </div>
            </div><!-- end container -->
        </div><!-- end copy -->